@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

.home-div{
    background-color: rgb(221, 41, 41);
    height: 100vh;
    text-align: center;
    display: flex;
    align-content: center;
    
}
.home-div h1{
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 198, 12);
    font-size: 280%;
}
.home-div p{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
   
}

.typewriter{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
}


